@model IEnumerable<Expeditions.Models.TeamMember>

@{
    ViewData["Title"] = "teamMember Search";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Team Member Search page.</h1>
    <h3>Search for a Team Member that meets your needs.</h3>

    <div>
        <form asp-controller="TeamMember" asp-action="SearchTeamMember" method="get">
            <div class="row">
                <input name="teamMemberName" class="form-control" placeholder="Enter the last name of the team member you are looking for.">
            </div>
            <input type="submit" class="btn btn-primary" value="Search" />
        </form>
    </div>

    <h3> Search Results </h3>
    <table class="table table-striped table-secondary table-sm w-100 mt-3 table-bordered" style="margin: 0 auto;">
        @if (Model != null)
        {

            <tbody>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Age</th>
                </tr>
            @foreach (var a in Model)
            {
                <tr>
                    <td>
                        <a>@a.LastName</a>
                    </td>
                    <td>
                        <a>@a.FirstName</a>
                    </td>
                    <td>
                        <a>@a.Age</a>
                    </td>
                </tr>
            }

            </tbody>
        }
    </table>
</div>