@using Microsoft.EntityFrameworkCore
@model IEnumerable<Playlist>

@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <h1 class="b">Playlistofy</h1>
    <h3 class="b">Bring all your favorite playlists together in once place so that you can jam out endlessly!</h3>
</div>

<div class="centered">
    <p>Search for a Playlist, Artist, Album, or Track by Title or Name</p>
</div>
<div class="col-md-8 centered">
    <form asp-controller="Search" asp-action="Search" method="get" >
        <div class="row">
            <div class="form-group col-md-2">
                <select name="searchType" id="searchType" class="form-control">
                    <option value="Playlist" selected>Playlist</option>
                    <option value="Artist">Artist</option>
                    <option value="Track">Track</option>
                    <option value="Album">Album</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <input type="search" name="searchQuery" id="searchQuery" autocomplete="off" class="form-control" placeholder="Search..." />
                <button type="submit" id="submit" class="btn" data-toggle="tooltip" title="search">Search</button>
            </div>
        </div>
    </form>
</div>


<div align="center">
    <table class="text-lg-center" width="75%">
        <thead class="h3">My Playlists</thead>
        <tr>
            <td>Playlist Name</td>
            <td>Number of Tracks</td>
            <td>Description</td>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td><a href="@p.Uri">@p.Name</a></td>
                <td>@p.PlaylistTrackMaps.Count</td>
                <td>@p.Description</td>
            </tr>
        }
    </table>
</div>