@model Playlistofy.Models.Track

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Track</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DiscNumber" class="control-label"></label>
                <input asp-for="DiscNumber" class="form-control" />
                <span asp-validation-for="DiscNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationMs" class="control-label"></label>
                <input asp-for="DurationMs" class="form-control" />
                <span asp-validation-for="DurationMs" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Explicit" /> @Html.DisplayNameFor(model => model.Explicit)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Href" class="control-label"></label>
                <input asp-for="Href" class="form-control" />
                <span asp-validation-for="Href" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPlayable" /> @Html.DisplayNameFor(model => model.IsPlayable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popularity" class="control-label"></label>
                <input asp-for="Popularity" class="form-control" />
                <span asp-validation-for="Popularity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviewUrl" class="control-label"></label>
                <input asp-for="PreviewUrl" class="form-control" />
                <span asp-validation-for="PreviewUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackNumber" class="control-label"></label>
                <input asp-for="TrackNumber" class="form-control" />
                <span asp-validation-for="TrackNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uri" class="control-label"></label>
                <input asp-for="Uri" class="form-control" />
                <span asp-validation-for="Uri" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLocal" /> @Html.DisplayNameFor(model => model.IsLocal)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
